/* on cache l'input de base */
input[type=checkbox] {
    display: none;
}

/* on stylise le label pour faire le fond */
label {
    display: block;
    cursor: pointer;
    width: 100px;
    height: 50px;
    background-color: rgb(202, 223,226);
    border-radius: 25px;
    margin: 250px auto 0 auto;
    transition: all .4s ease-out;
}

/* on creer le bouton grace a pseudo element ::after */
label::after {
    content: '';
    display: block;
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 40px;
    background-color: rgb(141,172,175);
    border-radius: 50%;
    transition: all .4s ease-out;
}

/* + signifie qu'on cible l'élément (ici le label) qui est juste après */
input:checked + label {
    background-color: rgb(150, 239, 184);
}

input:checked + label::after {
    transform: translate(50px, 0);
    background-color: rgb(29, 105, 52);
}