body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

#nav-checkbox {
    display: none;
}

.nav-bg {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    position: fixed;
    top: 72px;
    right: 104px;
    background-image: radial-gradient(#c3073f, #855769);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
/* on agit sur le label du checkbox (lier par le for) pour styliser le contenant des bars du burger */
.nav-btn {
    background-color: #fff;
    height: 112px;
    width: 112px;
    position: fixed;
    top: 64px;
    right: 96px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 16px 48px rgba(0,0,0,0.1);;
    text-align: center;
    cursor: pointer;
}

/* trait du milieu icon burger */
.burger-icon {
    position: relative;
    margin-top: 56px;
    width: 48px;
    height: 2px;
    background: #333;
    display: inline-block;
}
/* trait du dessus et trait du dessous */
.burger-icon::before,
.burger-icon::after {
    content: '';
    width: 48px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: all 0.2s;
}

.burger-icon::before {
    top: -12.8px;
}
.burger-icon::after {
    top: 12.8px;
}

nav {
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 1500;
    /* le cubic-bezier permet de donner un effet rebond quand le menu apparait (il va trop loin et reviens légèrement en arriere) */
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
}

li a {
    display: inline-block;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-burger:checked ~ .nav-bg {
    transform: scale(80);
}

.nav-burger:checked ~ nav {
    opacity: 1;
    width: 100%;
}

.nav-burger:checked + .nav-btn .burger-icon {
    background-color: transparent;
}

.nav-burger:checked + .nav-btn .burger-icon::before {
    top: 0;
    transform: rotate(135deg);
}

.nav-burger:checked + .nav-btn .burger-icon::after {
    top: 0;
    transform: rotate(-135deg);
}