body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* on cache le input */
header input {
    display: none;
}

h1 {
    margin: auto;
}
/* on stylise la div background */
.nav-bkg {
    height: 96px;
    width: 96px;
    border-radius: 50%;
    position: fixed;
    top: 72px;
    right: 104px;
    background-image: radial-gradient(#c3073f, #855769);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* on agit sur le label du checkbox (lier par le for) pour styliser le contenant des bars du burger et le superposer à la div background */
header label {
    background-color: #fff;
    height: 112px;
    width: 112px;
    position: fixed;
    top: 64px;
    right: 96px;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 16px 48px rgba(0,0,0,0.1);;
    text-align: center;
    cursor: pointer;
}

/* on creer le trait du milieu icon burger */
label > span {
    position: relative;
    margin-top: 56px;
    width: 48px;
    height: 2px;
    background: #333;
    display: inline-block;
}
/* on creer le trait du dessus et trait du dessous */
label > span::before,
label > span::after {
    content: '';
    width: 48px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: all 0.2s;
}
label > span::before {
    top: -12.8px;
}
label > span::after {
    top: 12.8px;
}

nav {
    height: 100vh;
    position: fixed;
    width: 0;
    opacity: 0;
    z-index: 1500;
    /* le cubic-bezier permet de donner un effet rebond quand le menu apparait (il va trop loin et revient légèrement en arriere) */
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
}

li a {
    display: inline-block;
    margin-top: 16px;
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

/* on anime le tout */
#burger-checkbox:checked ~ .nav-bkg {
    transform: scale(80);
}

#burger-checkbox:checked ~ nav {
    opacity: 1;
    width: 100%;
}

#burger-checkbox:checked + label span {
    background-color: transparent;
}

#burger-checkbox:checked + label span::before {
    top: 0;
    transform: rotate(135deg);
}

#burger-checkbox:checked + label span::after {
    top: 0;
    transform: rotate(-135deg);
}