/* navigation */

@media (max-width: 1220px) {


    nav a {
        font-size: 2.2rem;
        padding: 1rem 5rem;
    }


}

@media (max-width: 768px) {

    nav a:not(:nth-child(5)) {
        display: none;
    }

    #burger {
        display: block;
        position: absolute;
        right: -3rem;
        top: -1.6rem;
        cursor: pointer;
        color: #373737;
        font-size: 3rem;
    }

    nav {
        width: 100%;
        text-align: center;
        height: 5rem;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        transition: all 0.4s ease-in-out;
        border-bottom: 2px solid #373737;
    }

    nav.responsive {
        height: 38rem;
    }

    nav.responsive a:not(:nth-child(5)) {
        display: block;
        text-align: center;
        background: #f0ead6;
        margin: 0;
        position: relative;
        top: 4rem;
        font-size: 2.3rem;
    }

}

/* section home  */

@media (max-width: 1200px) {

    /* header {
        height: 90vh;
    } */

    h1 {
        top: 27rem;
        font-size: 9rem;
    }

    header h2 {
        top: 27rem;
        font-size: 3.5rem;
    }

    #arrow {
        height: 6rem;
        width: 6rem;
        top: 80%;
        font-size: 3.5rem;
        line-height: 6rem;
    }

}

@media (max-width: 992px) {

    /* header {
        height: 80vh;
    } */

    h1 {
        top: 20rem;
        font-size: 7rem;
    }

    header h2 {
        top: 27rem;
        font-size: 3.8rem;
    }

    #arrow {
        top: 70%;
    }
}

@media (max-width: 768px) {

    /* header {
        height: 73vh;
    } */

    h1 {
        top: 22rem;
        font-size: 6.2rem;
    }

    header h2 {
        top: 24rem;
        font-size: 2.4rem;
        width: 80%;
        margin: auto;
    }

    #arrow {
        height: 5rem;
        width: 5rem;
        top: 65%;
        font-size: 2.5rem;
        line-height: 5rem;
    }

}

@media (max-width: 720px) {

    h1 {
        top: 22rem;
        font-size: 5rem;

    }

}

@media (max-width: 559px) {

    h1 {
        font-size: 4.4rem;

    }
}

@media (max-width: 497px) {

    /* header {
        height: 60vh;
    } */

    h1 {
        top: 20rem;
        font-size: 5.2rem;
        line-height: 5.5rem;
    }

    header h2 {
        top: 22rem;
        font-size: 2rem;
        width: 50%;
    }

    #arrow {
        height: 4.5rem;
        width: 4.5rem;
        top: 54%;
        line-height: 4.5rem;
    }
}

@media (max-width: 425px) {

    h1 {
        top: 10rem;
        font-size: 5.2rem;
        line-height: 5.5rem;
    }

    header h2 {
        top: 20rem;
        font-size: 2rem;
        width: 60%;
    }

    #arrow {
        height: 4.5rem;
        width: 4.5rem;
        top: 54%;
        line-height: 4.5rem;
    }
}




/* section about */

@media (max-width: 900px) {

    #about {
        padding: 0 0 5rem 0;
    }

/* if you used float you must used !important; to rewrite css rules (sometimes it doesn't works without) */
    .center-h {
        margin-bottom: 2rem!important;
    }

    .title-about {
        font-size: 3.7rem;
    }

    .row {
        max-width: 50rem;
        padding: 0 3rem;
    }

    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
    .row [class^="col-"] {
        width: 100%!important;
    }
/* to take 'le tiers' of the parent's size use width: 33.333333%; */
    .compose-img {
        float: left;
        position: relative;
        width: 33.333333%;
    }
    .compose-img--1 {
        top: 0rem;
        transform: scale(1.2);
    }
    .compose-img--2 {
        top: 1rem;
        transform: scale(1.3);
        z-index: 20;
    }
    .compose-img--3 {
        top: 1rem;
        transform: scale(1.1);
        left: 0;
    }

}

@media (max-width: 600px) {

    .title-about {
        font-size: 3rem;
    }
}

/* section achievement */

@media (max-width: 768px) {

    #achievement h2 {

        font-size: 5rem;
        margin: 0;
        padding-top: 5rem;
    }

    #container-cards {
        height: 160rem;
        flex-direction: column;
        padding-bottom: 1rem;
    }

}

/* section carousel */

@media (max-width: 1200px) {

    #slide {
        height: 50rem;

    }

    .frame {
        width: 80rem;
        height: 30rem;
        transform: translate(-50%, -50%);
    }

    .carousel .change-hidden {
        width: 100rem;
        height: 13rem;
    }

    .carousel .change-hidden .element {
        font-size: 6rem;

    }

}

@media (max-width: 992px) {

    .frame {
        width: 50rem;
        height: 20rem;
        transform: translate(-50%, -50%);
    }

    .carousel .change-hidden {
        width: 100%;
    }

    .carousel .change-hidden .element {
        font-size: 4rem;

    }

}

@media (max-width: 768px) {

    #slide {
        height: 35rem;
    }

    .frame {
        width: 40rem;
        height: 15rem;
        transform: translate(-50%, -50%);
    }

    .carousel .change-hidden .element {
        font-size: 3.2rem;
    }

    .carousel .change-hidden {
        height: 13rem;
    }

}

@media (max-width: 425px) {

    #slide {
        height: 30rem;
    }

    .frame {
        width: 30rem;
    }

    .carousel .change-hidden .element {
        font-size: 2.2rem;
    }
}
/* section specialties */

@media (max-width: 1200px) {

    #specialties {
        height: 70rem;
    }

}

@media (max-width: 992px) {

    #specialties {
        height: 65rem;
    }

    #specialties h3 {
        font-size: 4.5rem;
    }

    #specialties p {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    .trio {
        margin: 2rem;
    }
}

@media (max-width: 768px) {

    #specialties {
        height: 180rem;
        background: linear-gradient(to right, rgba(55, 55, 55, 0.1), rgb(243, 235,209));
        padding-bottom: 5rem;
    }

    #specialties h3 {
        font-size: 5.5rem;
        margin: 5rem 0 2rem 0;
    }

    #specialties p {
        display: block;
        margin: auto;
        font-size: 1.8rem;
        width: 70%;
    }

    .container-flex {
        height: 165rem;
        flex-direction: column;
    }

    .trio {
        width: 30rem;
        margin: 2rem;
    }
/* used background-position to center the picture correctly */
    .specialties-img-2 {
        background-position: 50% 35%;
    }

}

@media (max-width: 425px) {

    #specialties {
        height: 185rem;
    }
}


/* section contact */

@media (max-width: 768px) {

    #contact {
        height: 20rem;
    }

    #contact h2 {
        font-size: 7rem;
    }

    #contact h3 {
        font-size: 3.5rem;
    }

    .medias {
        font-size: 7rem;
        margin: 2rem;
    }


}

@media (max-width: 425px) {

    #contact h2 {
        font-size: 5rem;
    }

    .medias {
        font-size: 5rem;
    }
}