h1 {
    font-size: 50px;
    letter-spacing: 12px;
    color: #373737;
    text-align: center;
    white-space: nowrap;
}

h2 {
    font-size: 15px;
    letter-spacing: 4px;
    color: #373737;
    text-align: center;
    margin: 20px auto;
    white-space: nowrap;
}

/* **************************************************************************************************************************************************************************************************************************** */
/* test slide user control */
#slider-container{
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
    border: 1px solid #ddd;
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
/* juste pour positionner le play/pause */
#first-slider {
    position: relative;
    width: 640px;
    height: 310px;
    padding: 15px;
    margin: 0 auto 2em;
}

#slider {
    position: relative;
}

#slider-auto {
    height: 310px;
}

/* image after/before chaque slide sur le container du slider*/
#slider-container::before,
#slider-container::after {
    content: "";
    width: 160px;
    height: 77.5px; 
    position: absolute;
    top: 30%;
    margin: 1em;
    border: 3px solid #ddd;
    background: linear-gradient(#FFF, #FFF 20%, #EEE 80%, #DDD);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 3px rgba(0,0,0, 0.2);
}
#slider-container::before {
    left: -30%;
}
#slider-container::after {
    left: 100%;
}

/* animation des before :
on affiche l'img precedente en synchro avec l'affichage grande carte */
@keyframes sliderBefore {
    /* div 1 img 4 prev  background-size: 50px 150px; */
    0%, 20% { background: url("https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" ) 0 0 no-repeat; background-size: 160px 77.5px; }
    /* div 2 img 1 prev */
    25%, 45% { background: url("https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80") 0 0 no-repeat; background-size: 160px 77.5px; }
    /* div 3 img 2 prev */
    50%, 70% { background: url("https://images.unsplash.com/photo-1489084917528-a57e68a79a1e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 160px 77.5px; }
    /* div 4 img 3 prev */
    75%, 95% { background: url("https://images.unsplash.com/photo-1504006833117-8886a355efbf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 160px 77.5px; }
    /* div 1 img 4 prev */
    100% { background: url("https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" ) 0 0 no-repeat; background-size: 160px 77.5px; }
}

/* animation des after :
on affiche l'img suivante en synchro avec l'affichage grande carte */
@keyframes sliderAfter {
    /* div 1 img 2 next */
    0%, 20% { background: url("https://images.unsplash.com/photo-1489084917528-a57e68a79a1e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 160px 77.5px;}
    /* div 2 img 3 next */
    25%, 45% { background: url("https://images.unsplash.com/photo-1504006833117-8886a355efbf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 160px 77.5px;}
    /* div 3 img 4 next */
    50%, 70% { background: url("https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" ) 0 0 no-repeat; background-size: 160px 77.5px;}
    /* div 4 img 1 next */
    75%, 95% { background: url("https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80") 0 0 no-repeat; background-size: 160px 77.5px;}
    /* div 1 img 2 next */
    100% { background: url("https://images.unsplash.com/photo-1489084917528-a57e68a79a1e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 160px 77.5px;}
}

/* animation de la card principale */
@keyframes sliderAuto {
    /* div 1 img 1 */
    0%, 20% { background: url("https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80") 0 0 no-repeat; background-size: 640px 310px; }
    /* div 2 img 2 */
    25%, 45% { background: url("https://images.unsplash.com/photo-1489084917528-a57e68a79a1e?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 640px 310px; }
    /* div 3 img 3 */
    50%, 70% { background: url("https://images.unsplash.com/photo-1504006833117-8886a355efbf?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 640px 310px; }
    /* div 4 img 4 */
    75%, 95% { background: url("https://images.unsplash.com/photo-1456926631375-92c8ce872def?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80") 0 0 no-repeat; background-size: 640px 310px; }
    /* div 1 img 4 prev */
    100% { background: url("https://images.unsplash.com/photo-1564760055775-d63b17a55c44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1356&q=80") 0 0 no-repeat; background-size: 640px 310px; }
}
/* animation de la timeline */
@keyframes timeliner {
    0%, 25%, 50%, 75%, 100% { width: 0; }
    20%, 45%, 70%, 95%      { width: 640px; }
}

/* lancement des animations */
#slider-auto {
    animation: sliderAuto 12s infinite;
}
#slider-container::before {
    animation: sliderBefore 12s infinite;
}
#slider-container::after {
    animation: sliderAfter 12s infinite;
}
#timeline {
    animation: timeliner 12s infinite;
}
/* bouton de controle */

input[type="checkbox"] {
    position: absolute;
    top: -190px;
    /* visibility: hidden; */
    opacity: 0;
}
#sl-control{
    /* positionnement en haut à droite de la carte principale */ 
    position: absolute;
    top: 45px; 
    right: 45px;
    z-index: 100;
    border: 0 none;
    opacity: 0;
    transition: opacity 1s;
}
#sl-control::before, #sl-control::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    width: 38%;
    height: 22px;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}
#sl-control::before {
    content: "\25b6";
}
#sl-control::after {
    content: "\275A\275A";
    opacity: 0;
}
/* pour faire apparaître le bouton play/pause au hover */
#first-slider:hover #sl-control {
    opacity: 1;
}
/* pour switcher le caractères du bouton */
#toggle:checked + #sl-control::before {
    opacity: 0;
}
#toggle:checked + #sl-control::after {
    opacity: 1;
}
/* au "clic" sur label #sl-control, stop toutes les animations */
#toggle:checked ~ #slider-container #slider #slider-auto,
#toggle:checked ~  #slider-container::before,
#toggle:checked ~  #slider-container::after,
#toggle:checked ~ #slider-container .dots_commands li:first-child a:after,
#toggle:checked ~ #slider-container #timeline {
    animation-play-state: paused;
}

/* espace prévu pour la timeline */
#slider #slider-auto::after {
    position: absolute;
    bottom: 0; 
    left: 0;
    content: " ";
    width: 100%;
    height: 1px;
    background: #999;
}
/* style de la timeline */
#timeline {
    position: absolute;
    background: #999;
    bottom: 15px;
    left: 15px;
    height: 1px;
    background: rgba(255,255,255,0.8);
    width: 0;
}
/* **************************************************************************************************************************************************************************************************************************** */

.dots_commands {
    position: relative;
    top: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
}
.dots_commands li {
    display: inline;
    padding: 0;
    margin: 0;
}
.dots_commands a {
    position: relative;
    display: inline-block;
    height: 10px; 
    width: 10px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
/* quelques styles au focus */
.dots_commands a:focus { 
    outline: none;
    background: #f0f0f0;
}
.dots_commands li:first-child a { z-index: 25; }

/* on style after */
.dots_commands li:first-child a:after {
    position: absolute;
    top: 0; 
    left: 0;
    content: " ";
    width: 10px; 
    height: 10px;
    background: #bd9b83;
    z-index:20;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}

/* les animations  */



/* animation des dot */
@keyframes dotser {
    0%, 100%    { opacity: 1; left: 0; }

    20%         { opacity: 1; left: 0; }
    22%         { opacity: 0; left: 0; }
    23%         { opacity: 0; left: 23px; }
    23%         { opacity: 1; left: 23px; }
        
    45%         { opacity: 1; left: 23px; }
    47%         { opacity: 0; left: 23px; }
    48%         { opacity: 0; left: 48px; }
    48%         { opacity: 1; left: 48px; }
        
    70%         { opacity: 1; left: 48px; }
    72%         { opacity: 0; left: 48px; }
    73%         { opacity: 0; left: 71px; }
    75%         { opacity: 1; left: 71px; }
        
    95%         { opacity: 1; left: 71px; }
    97%         { opacity: 0; left: 71px; }
    98%         { opacity: 0; left: 0; }
}

/* on anime dot "after" */
.dots_commands li:first-child a:after {
    animation: dotser 12s infinite;
}

/* **************************************************************************************************************************************************************************************************************************** */

/* pour les flèches directionnelles */

/* les placer a droite et a gauche des dots 
regarder si position peut correspondre */
/* 
pour les semantiques des fleches

laquo \00ab &laquo;
raquo \00bb &#187;
*/