body {
    font-family: sans-serif;
    text-align: center;

}

/* overlay opacity */
.container {
    width: 500px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

.container img {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    padding: 16px 32px;
    opacity: 0;
}

.container:hover img {
    opacity: 0.3;
}

.container:hover .text {
    opacity: 1;
}


/* overlay zoom */
.container2 {
    width: 500px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

.container2 img {
    width: 100%;
    height: auto;
}

.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transition: 0.3s;
}

.text2 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container2:hover .overlay2 {
    transform: scale(1);
}

/* effet slide */
.container3 {
    width: 500px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

.container3 img {
    width: 100%;
    height: auto;
}

.overlay3 {
    position: absolute;
    /* pour partir d'en haut */
    top: 0;
    /* pour partir du bas */
    /* bottom: 0; */
    left: 0;
    right: 0;
    /* pour partir de côté on echange les valeurs de width et height et on change le hover avec width */
    width: 100%;
    height: 0;
    background-color: #008cba;
    overflow: hidden;
    transition: 0.5s;
}

.text3 {
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* mettre width a la place pour partir de côté */
.container3:hover .overlay3 {
    height: 100%;
}